{% extends "base.html" %}

{% block content %}
<div style="background:white;padding:30px;border-radius:15px;width:300px;">
    <h2>Create Account</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required style="width:100%;margin-bottom:10px;padding:8px;">
        <input type="password" name="password" placeholder="Password" required style="width:100%;margin-bottom:10px;padding:8px;">
        <button type="submit" style="width:100%;padding:10px;background:#1b5e20;color:white;border:none;border-radius:10px;">Sign Up</button>
    </form>
</div>
{% endblock %}